body {
    display: grid;
    grid-template-areas:
        "logo logo"
        "main main"
        " social social";
    grid-template-columns: repeat(2, 1fr);
    background: var(--Violet) url(../images/bg-desktop.svg) no-repeat;
    background-origin: border-box;
}

main {
    display: flex;
    grid-area: main;
}

.header {
    grid-area: logo;
}

.header .logo img {
    margin: 4.6875rem 4.0625rem;
}

.apresentation-image {

    margin: 0 4.0625rem;

}



.apresentation-text {
    margin-top: 4.0625rem;
}

.apresentation-text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2.1875rem;
    max-width: 26.25rem;
}

.apresentation-text p {
    max-width: 29.0625rem;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 0.9375rem;
    opacity: 0.85;
}

.apresentation-text .btn-register {
    margin: 1.5625rem 0.9375rem;
}

main .apresentation-text .btn-register a {
    color: var(--Violet);
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0.625rem 3.75rem;
    border-radius: 2.8125rem;
    transition: 0.3s;
    box-shadow: 3px 3px 5px 2.5px rgba(0, 0, 0, 0.10);
}

.apresentation .apresentation-text .btn-register a:hover {
    color: #fff;
    background-color: var(--Soft-Magenta);
}

footer {
    grid-area: social
}
footer .social{
    display: flex;
}
footer .social li a {
    
    position: relative;
    left: 75rem;
    bottom: 0.625rem;
}

footer .social a .icon {
    color: #fff;
    font-size: 0.9375rem;
    border: solid #fff 0.125rem;
    margin-right: 0.9375rem;
    border-radius: 2.8125rem;
    padding: 0.625rem;
    transition: 0.2s;
}

footer .social a .icon1 {
    padding: 0.625rem 0.8125rem;

}

footer .social a .icon:hover {
    color: var(--Soft-Magenta);
    border: solid var(--Soft-Magenta) 0.125rem;
}

@media(max-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        background: var(--Violet) url("../images/bg-mobile.svg");
        background-size: cover;
        

    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    main .apresentation-image img{
        max-width: 500px ;
    }
    main .apresentation-text h1, p{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    main .apresentation-text h1{
        margin: 1.25rem;
    }
    main .apresentation-text p{
        width: 310px;
        
    }
    .apresentation-text .btn-register{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .apresentation-text .btn-register{
        justify-content: center;
        align-items: center;
    }

    main .apresentation-text .btn-register a{
        padding: 0.625rem 5.625rem;
    }
   
    footer{
       padding: 30px;
       
     } 

     footer .social {
        justify-content: center;
        align-items: center;
        margin-top:15px ;
     }
     footer .social li a{
       position: static; }
      

    footer .social a .icon{
       padding: 5px;
       border: 1px solid;
    }

    footer .social a .icon1{
        padding: 5px 7px;
    }
}

@media(max-width:425px) {
    body {
        background: var(--Violet) url(../images/bg-mobile.svg) top no-repeat;
        background-size: 100%;
    }
    main .apresentation-image img{
        width: 280px; }
    .header .logo img{
        margin: 30px 0 65px 35px;
    }

    .header .logo img {
        width: 8.75rem;


    }

    main {
        margin: 0;
    }

    section.apresentation {
        margin-top: 3.75rem;
    }

    .apresentation .apresentation-image {
        max-width: 21.875rem;

    }

    .apresentation-text {
        margin-top: 3.125rem;
    }

    .apresentation-text h1 {
        font-size: 1.5rem;
        max-width: 18.75rem;
        margin: 1.25rem;
    }

    .apresentation-text p {
        margin-top: 0px;
    }

    footer .social {
        margin-bottom: 30px;
    }


}

@media(max-width:375px) {
    .apresentation .apresentation-image {
        max-width: 18.75rem;

    }
}

@media(max-width:320px) {
    .apresentation .apresentation-image {
        max-width: 15.625rem;

    }
}